@import 'tailwindcss';

.react-svg > div > div {
	display: flex;
	align-items: center;
}

button {
	cursor: pointer;
}
button:disabled {
	cursor: not-allowed !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	appearance: textfield;
	-moz-appearance: textfield; /* Removes spin buttons in Firefox */
}

input:not([type='checkbox']):focus {
	outline: 0;
	border-color: #007fff;
}
